.dee{
  color: #0d6efd; 
}


.feat .row{
  display: flex;
  align-items: center;
}

.feat h1{
    color: rgb(73, 73, 73);
}

  @media screen and (max-width: 600px){
   .container .feat h1{
    font-size: 35px;
    font-weight: 650;

  }
 .feat{
    text-align: center;

  }

  }
